@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Appointment Website</h1>
    <p>Yes<a href="https://docs.microsoft.com/aspnet/core">Made By AHMAD MUSHTAQ with ASP.NET Core</a>.</p>
</div>
